:root {
  --primary-1: #ad1fea;
  --primary-1-opacity: #c75af6;

  --primary-2: #4661e6;
  --primary-2-opacity: #7c91f9;

  --primary-3: #373f68;
  --primary-3-opacity: #656ea3;

  --primary-4: #ffffff;

  --secondary-1: #f2f4ff;
  --secondary-2: #f7f8fd;
  --secondary-3: #3a4374;
  --secondary-4: #647196;

  --tertiary-1: #f49f85;
  --tertiary-2: #62bcfa;

  --red-1: #d73737;
  --red-1-opacity: #e98888;
  --text-1: #647196;
}

$primary-1: #ad1fea;
$primary-1-opacity: #c75af6;

$primary-2: #4661e6;
$primary-2-opacity: #7c91f9;

$primary-3: #373f68;
$primary-3-opacity: #656ea3;

$primary-4: #ffffff;

$secondary-1: #f2f4ff;
$secondary-2: #f7f8fd;
$secondary-3: #3a4374;
$secondary-4: #647196;

$tertiary-1: #f49f85;
$tertiary-2: #62bcfa;

$red-1: #d73737;
