<section class="ui-showcase">
   <div class="ui-showcase__title">
      <h1 class="main-heading">Design System Show Case</h1>
   </div>

   <div>
      <h2 class="ui-showcase__sub-title sub-main-heading">Colours</h2>
      <div class="ui-colors">
         <div class="ui-colors__category">
            <div class="ui-colors__segment">
               <div class="ui-colors__block ui-colors__block--p1"></div>
               <div>var(--primary-1)</div>
            </div>
            <div class="ui-colors__segment">
               <div class="ui-colors__block ui-colors__block--p2"></div>
               <div>var(--primary-2)</div>
            </div>
            <div class="ui-colors__segment">
               <div class="ui-colors__block ui-colors__block--p3"></div>
               <div>var(--primary-3)</div>
            </div>
            <div class="ui-colors__segment">
               <div class="ui-colors__block ui-colors__block--p4"></div>
               <div>var(--primary-4)</div>
            </div>
         </div>
         <div class="ui-colors__category">
            <div class="ui-colors__segment">
               <div class="ui-colors__block ui-colors__block--s1"></div>
               <div>var(--secondary-1)</div>
            </div>
            <div class="ui-colors__segment">
               <div class="ui-colors__block ui-colors__block--s2"></div>
               <div>var(--secondary-2)</div>
            </div>
            <div class="ui-colors__segment">
               <div class="ui-colors__block ui-colors__block--s3"></div>
               <div>var(--secondary-3)</div>
            </div>
            <div class="ui-colors__segment">
               <div class="ui-colors__block ui-colors__block--s4"></div>
               <div>var(--secondary-4)</div>
            </div>
         </div>
         <div class="ui-colors__category">
            <div class="ui-colors__segment">
               <div class="ui-colors__block ui-colors__block--t1"></div>
               <div>var(--tertiary-1)</div>
            </div>
            <div class="ui-colors__segment">
               <div class="ui-colors__block ui-colors__block--t2"></div>
               <div>var(--tertiary-2)</div>
            </div>
         </div>
      </div>
   </div>

   <div class="ui-typography">
      <h2 class="ui-showcase__sub-title sub-main-heading">Typography</h2>
      <div class="ui-typography__segment">
         <pre>.main-heading</pre>
         <h1 class="main-heading">Main Heading</h1>
      </div>
      <div class="ui-typography__segment">
         <pre>.sub-main-heading</pre>
         <h2 class="sub-main-heading">Sub Main Heading</h2>
      </div>
      <div class="ui-typography__segment">
         <pre>.small-heading</pre>
         <h3 class="small-heading">Small Heading</h3>
      </div>
      <div class="ui-typography__segment">
         <pre>.body-1</pre>
         <p class="body-1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque
            aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula
            sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis.
         </p>
      </div>
      <div class="ui-typography__segment">
         <pre>.body-2</pre>
         <p class="body-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque
            aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula
            sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis.
         </p>
      </div>
      <div class="ui-typography__segment">
         <pre>.body-3</pre>
         <p class="body-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque
            aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula
            sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis.
         </p>
      </div>
   </div>

   <div>
      <h2 class="ui-showcase__sub-title sub-main-heading">Buttons</h2>

      <div class="buttons">
         <div class="buttons__segment">
            <h3 class="small-heading">Button 1</h3>
            <div class="buttons__sample">
               <span>Default</span>
               <button pfButton="primary">Click Me</button>
            </div>
         </div>
         <div class="buttons__segment">
            <h3 class="small-heading">Button 2</h3>
            <div class="buttons__sample">
               <span>Default</span>
               <button pfButton="secondary">Click Me</button>
            </div>
         </div>
         <div class="buttons__segment">
            <h3 class="small-heading">Button 3</h3>
            <div class="buttons__sample">
               <span>Default</span>
               <button pfButton="tertiary">Click Me</button>
            </div>
         </div>
         <div class="buttons__segment">
            <h3 class="small-heading">Button 4</h3>
            <div class="buttons__sample">
               <span>Default</span>
               <button pfButton="alternative">Click Me</button>
            </div>
         </div>
      </div>

      <div class="buttons">
         <div class="buttons__segment">
            <h3 class="small-heading">Link 1</h3>
            <div class="buttons__sample">
               <span>Default</span>
               <a pfLink="primary">
                  <span>Navigate</span>
               </a>
            </div>
         </div>
         <div class="buttons__segment">
            <h3 class="small-heading">Link 2</h3>
            <div class="buttons__sample">
               <span>Default</span>
               <a pfLink="secondary">
                  <span>Navigate</span>
               </a>
            </div>
         </div>
      </div>

   </div>

</section>