* {
  font-family: "Jost", sans-serif;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  background-color: var(--secondary-1);
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}
